@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="col-sm-12">
    <p class="text-center"> KIRISH</p>
    <div class="card card-block sameheight-item align-items-center ">
        <div class="card-header bordered">
            <form id="login-form" method="post">
                <div class="text-danger">@Model.ErrorMessage</div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" placeholder="User Name" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label for="remember">
                <input class="checkbox" id="remember" type="checkbox">
                <span>Remember me</span>
            </label>
            <a href="reset.html" class="forgot-btn pull-right">Forgot password?</a>
        </div>*@
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary">Login</button>
                </div>
                <div class="form-group">
                    <p class="text-muted text-center">Tizimdan foydalanishni xoxlaysizmi? <a asp-area="Identity" asp-page="/Account/SignUp">Ro'yxatdan o'tish</a></p>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
     </div>
</div>

        
     
