@page
@model RegisterModel
@{
      ViewData["Title"] = "Register";
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-signin">
    <img class="mb-4" src="~/iehson-logo.png" alt="" width="100" height="80">
    <h1 class="h3 mb-3 font-weight-normal">Create a new account.</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Input.Email" class="form-control" placeholder=" Email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.Password" class="form-control" placeholder=" Password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <a asp-area="Identity" asp-page="/User/Index" class="btn btn-secondary">
            Ortga
        </a>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

