table {
    display: block;
    overflow: scroll;
    white-space: nowrap;
    width: auto;
    height: 600px;
    font-size: 16px;
}
.same-size {
    width: auto;
    height: 30px;
    font-size: 14px;
}
select option {
    font-size: 14px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
#delete-icon {
    color: #dc3545 !important;
    /*text-shadow: 1px 1px 1px aqua;*/
}
#delete-icon:hover {
    cursor:pointer;
}
#link-to-details {
    font-style: italic;
    font-size: 17px;
    text-align: center;
}