@model Data.Entity.Position

@{
    ViewData["Title"] = "Create";
}

<div class="col-md-8">
    <div class="card card-block sameheight-item">
        <div class="title-block">
            <div class="header-block">
                <h3 class="title">@ViewData["Title"]</h3>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pasition_Name" class="control-label"></label>
                <input asp-for="Pasition_Name" class="form-control" />
                <span asp-validation-for="Pasition_Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-12 text-right">
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="fa fa-arrow-circle-left"></i>
                        Ortga
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-align-left fa-save"></i>
                        Saqlash
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
