@model Data.Entity.Position

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-10">
    <div class="card card-block sameheight-item">
        <dl class="row">
            <dt>
                @Html.DisplayNameFor(model => model.Pasition_Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Pasition_Name)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-danger-outline" asp-action="Index">Back to List</a>
</div>